@import '../../styles/mixins';
@import '../../styles/variables';

.btn-base {
  @include button-base;
  &_inline {
    display: inline-block;

    @media (max-width: 768px) {
      padding: 15px 25px;
    }
  }
}

.btn-inline {
  display: inline-block;

  @media (max-width: 768px) {
    padding: 15px 25px;
  }
}


.btn-second {
  @include button-second;
}