$main-color: #FF9143;
$bg-color: #1A1A1A;
$title-color: #ffffff;
$subtitle-color: #606060;
$text-main-color: #ffffff;
$text-second-color: #A8A8A8;

$btn-bg: #FF9143;
$btn-color: #ffffff;

$footer-bg: #131313;
$icon-bg:#C4C4C4;

$secondary-color-1: #1A1A1A;
$secondary-color-2: #262A2C;
$secondary-color-3: #696969;
$secondary-color-4: #ffffff;

